.productoCart {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.productoCart i {
    color: crimson;
}
.informacionCart {
    display: flex;
    justify-content: center;
}
.carritoVacio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.iconoCarrito {
    font-size: 200px;
}