.producto {
    align-items: center;
    font-size: 1rem;
    margin: 0px 5px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 400px;
    opacity: 0.9;
}

.producto img {
    width: 100%;
    opacity: 0.8;
}
.producto img:hover {
    opacity: 1;
    transform: scale(1.2);
}

.producto h4 {
    margin: 10px;
    padding: 5px;
    font-size: 18px;
}
.producto p {
    padding : 0px;
    font-size: 15px;
}

.producto button {
    margin: 0px;
}
.producto button:hover {
    transform: scale(1.05); 
}
