.producto {
    align-items: center;
    font-size: 1rem;
    margin: 10px;
    background-color: whitesmoke;
}

.producto img {
    width: 100%;
}

.producto h4 {
    margin: 10px;
    padding: 5px;
    font-size: 18px;
}
.producto p {
    padding : 15px;
    font-size: 15px;
}

.producto button {
    color: white;
    font-weight: bold;
}

