.filtros {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    opacity: 0.9;
    justify-content: left;
}

.filtros i {
    font-size: 20px;
}
.filtros p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 10px;
}
.filtros p:hover {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0px 5px;
}
h3 {
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
}
h5 {
    font-weight: 300;
}