.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: midnightblue;
    color: whitesmoke;
    margin-bottom: 20px;
    text-align: end ;
}
.navbar a {
    font-family: 'Lato';
    font-size: 25px;
    color: whitesmoke;
}

.cantidadCart {
    position: absolute;
    top: -10px;
    right: 30px;
    background-color: crimson;
    background-size: 10px;
    width: 22px;
    text-align: center;
    padding: 0px;
    border-radius: 10px;
}
.header {
    background-color:midnightblue;
    text-align: end;
    color: white;
    margin: 0px;
    padding: 0px;
}

.header h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    margin: 0px;
    padding: 0px;
}
.header span {
    color: crimson;
}




