.header {
    background-color:midnightblue;

    text-align: center;
    color: white;
    margin: 0px;
}

.header h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    margin: 0px;
}
.header span {
    color: crimson;
}